html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

a:hover {
  color: black;
}

header {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

nav {
  display: flex;
  gap: 8px;
}

main {
  flex-grow: 1;
}

.hero {
  background-color: #1f2937;
  padding: 16px 32px;
  color: #f9faf8;
  display: flex;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero img {
  flex: 1 0 300px;
  background-color: #b6b6b6;
}

.content {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.card img {
  background-color: #b6b6b6;
  flex: 0 0 150px;
}

footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}